@import url(reset.css);

@font-face {
    font-family:'Antarctic';
    src: url(../fonts/Antarctic.otf);

    
}

@font-face {
    font-family:'Durik';
    src: url(../fonts/Durik.ttf);
}

/* font-family: 'Antarctic'; */

:root {
    --text-white: #fff;
	--text-gray:#414446;
	--text-black:#000;
	--text-blue:#066296;
	--color-bg-white: #F6F0EB;
	--color-bg-blue:#DAE3EA;
	
}

html,body {
 font-family: 'Durik';
 
 background-color: var(--color-bg);
}

html {
	overflow: scroll;
	overflow-x: hidden;
	 }
::-webkit-scrollbar {
	width: 0px;  
	background: transparent;  
	  }

::-webkit-scrollbar-thumb {
	background: #FF0000;
	 }

.group-bg{
	background-image: url(../img/Fon.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
    margin:  0 auto;
    padding: 0 15px;
    max-width: 1810px;
    
}

/* Navigation */

.nav {
    padding-top: 15px;
	position: fixed;
	width: 100%;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	column-gap: 43px;
	flex-wrap: wrap;
}

.logo {
	width: 75%;
	padding: 10px 0;
}

.nav-items {
    display: flex;
    align-items: center;
    column-gap: 43px;
	row-gap: 15px;
    flex-wrap: wrap;
	
}

.nav-item {

}
.nav-item::before {
	content: '';

	width: 30px;
	height: 1px;
	background-color: var(--text-white);

}

.nav-link {
    
    color: var(--text-white);   
    font-size: 26px;
	text-shadow: 
			-0   -3px 0   #927F47,
			 0   -3px 0   #927F47,
			-0    3px 0   #927F47,
			 0    3px 0   #927F47,
			-3px -0   0   #927F47,
			 3px -0   0   #927F47,
			-3px  0   0   #927F47,
			 3px  0   0   #927F47,
			-1px -3px 0   #927F47,
			 1px -3px 0   #927F47,
			-1px  3px 0   #927F47,
			 1px  3px 0   #927F47,
			-3px -1px 0   #927F47,
			 3px -1px 0   #927F47,
			-3px  1px 0   #927F47,
			 3px  1px 0   #927F47,
			-2px -3px 0   #927F47,
			 2px -3px 0   #927F47,
			-2px  3px 0   #927F47,
			 2px  3px 0   #927F47,
			-3px -2px 0   #927F47,
			 3px -2px 0   #927F47,
			-3px  2px 0   #927F47,
			 3px  2px 0   #927F47,
			-3px -3px 0   #927F47,
			 3px -3px 0   #927F47,
			-3px  3px 0   #927F47,
			 3px  3px 0   #927F47,
			-3px -3px 0   #927F47,
			 3px -3px 0   #927F47,
			-3px  3px 0   #927F47,
			 3px  3px 0   #927F47;

	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
}

.nav-link:hover {
	background-size: 100% 2px;
}
/* Header */

.header {
}
.header-text {
    
}
.header-text-h1  {
	padding: 30% 0 15% 13%;
    color: var(--text-white);
    font-size: 75px;
}

.header-text-h1 em { 
    font-family:'Antarctic';
    font-size: 250px;
    margin-left: 20%;
}


/* About */
.main {
	margin: 0 auto;
}
.about {
	background-color: var(--color-bg-blue);
	background-repeat: no-repeat;
	background-size: cover;
}

.about-info {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
}
.about-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	
}
.about-text-h2  {
	font-family:'Antarctic';
	font-size: 220px;
	
}
.about-text-h3 {
	font-size: 35px;
	max-width: 900px;
	text-align: center;
	padding-top: 50px;
}
.about-text p {

	font-size: 28px;
	max-width: 400px;
	text-align: center;
	color: var(--text-gray);
	padding-top: 50px;
}

.mom-1 {

}
.mom-2 {
 display: none;
}

/* Products */

.products {
	background-color: var(--color-bg-white);
	padding: 100px 0;
}
.products-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.products-title {
	font-size: 180px;
	font-family:'Antarctic';
	text-align: center;
	
	color: var(--text-black);
}
.products-flex {
	display: grid;
	grid-template-columns: repeat(2 , 1fr);
	text-align: center;
	align-items: center;
	justify-items: center;
	max-width: 1300px;
}
.products-list {
	font-size: 30px;
	padding-top: 15px;
}

.products-list ul {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.products-list li {
	font-size: 30px;
	list-style-type: disc;
	color: var(--text-gray);
	
}

.phenitsa-list {
	padding-bottom: 15px;
}

.potato-list {
	padding-top: 20px;
}

/* Place */

.Place {
	background-color: var(--color-bg-blue);
	padding: 80px 0;
}
.place-wrapper {
}
.place-title {
	font-size: 180px;
	font-family:'Antarctic';
	text-align: center;
	color: var(--text-gray);
	padding-bottom: 100px;
}
.Place-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 60px;
}
.place-text {
	text-align: center;
	align-items: center;

}
.place-adress {
	text-align: center;
	max-width: 500px;
	font-size: 22px;
	padding-bottom: 60px;
}
.place-adress h3{
	font-size: 30px;
	color: var(--text-blue);
	padding: 5px;
}
.place-time {
	text-align: center;
	max-width: 500px;
	font-size: 22px;
	padding-top: 15px;
}

.place-time h3 {
	font-size: 30px;
	color: var(--text-blue);
	padding: 5px;	
}

.place-time p {
	padding-bottom: 5px;
}


/* footer */

.footer {
	background-image: url(../img/sunset.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
}
.footer-info {
	text-align: center;
	text-shadow: 
		-0   -3px 0   #000000,
		 0   -3px 0   #000000,
		-0    3px 0   #000000,
		 0    3px 0   #000000,
		-3px -0   0   #000000,
		 3px -0   0   #000000,
		-3px  0   0   #000000,
		 3px  0   0   #000000,
		-1px -3px 0   #000000,
		 1px -3px 0   #000000,
		-1px  3px 0   #000000,
		 1px  3px 0   #000000,
		-3px -1px 0   #000000,
		 3px -1px 0   #000000,
		-3px  1px 0   #000000,
		 3px  1px 0   #000000,
		-2px -3px 0   #000000,
		 2px -3px 0   #000000,
		-2px  3px 0   #000000,
		 2px  3px 0   #000000,
		-3px -2px 0   #000000,
		 3px -2px 0   #000000,
		-3px  2px 0   #000000,
		 3px  2px 0   #000000,
		-3px -3px 0   #000000,
		 3px -3px 0   #000000,
		-3px  3px 0   #000000,
		 3px  3px 0   #000000,
		-3px -3px 0   #000000,
		 3px -3px 0   #000000,
		-3px  3px 0   #000000,
		 3px  3px 0   #000000;
}
.footer-info h2 {
	font-family:'Antarctic';
	font-size: 180px;
	padding-bottom: 100px;
	color: var(--text-white);
}
.footer-contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 200px;
}
.footer-contacts p {
	color: var(--text-white);
	opacity: 0.8;
	font-size: 38px;
	padding: 30px 0;
}

.footer-contacts a {
	color: var(--text-white);
	font-size: 40px;
}

.E-mail  em{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700;
}

@media (max-width: 1500px) {
	.header-text-h1  {
		padding: 30% 0 15% 13%;
    	color: var(--text-white);
    	font-size: 50px;
}

.header-text-h1 em { 
    font-family:'Antarctic';
    font-size: 200px;
    margin-left: 20%;
}
}

@media (max-width: 1000px) {

	.nav {
		padding-top: 15px;
		position: relative;
	}

	.logo {
		width: 50%;
		text-align: center;
	}
	.nav-row {
		text-align: center;
		justify-content: center;
		align-items: center;
	
	}

	.nav-items {
		justify-content: center;
		flex-direction: column;
	}

	.nav-link {
		font-size: 20px;
		text-align: center;
		text-shadow: 
			-0   -2px 0   #927F47,
			 0   -2px 0   #927F47,
			-0    2px 0   #927F47,
			 0    2px 0   #927F47,
			-2px -0   0   #927F47,
			 2px -0   0   #927F47,
			-2px  0   0   #927F47,
			 2px  0   0   #927F47,
			-2px -2px 0   #927F47,
			 2px -2px 0   #927F47,
			-2px  2px 0   #927F47,
			 2px  2px 0   #927F47,
			-2px -1px 0   #927F47,
			 2px -1px 0   #927F47,
			-2px  1px 0   #927F47,
			 2px  1px 0   #927F47,
			-2px -2px 0   #927F47,
			 2px -2px 0   #927F47,
			-2px  2px 0   #927F47,
			 2px  2px 0   #927F47,
			-2px -2px 0   #927F47,
			 2px -2px 0   #927F47,
			-2px  2px 0   #927F47,
			 2px  2px 0   #927F47,
			-2px -2px 0   #927F47,
			 2px -2px 0   #927F47,
			-2px  2px 0   #927F47,
			 2px  2px 0   #927F47,
			-2px -2px 0   #927F47,
			 2px -2px 0   #927F47,
			-2px  2px 0   #927F47,
			 2px  2px 0   #927F47;
	}

	.header-text-h1 {
		font-size: 32px;
		padding: 220px 0 400px 0;
		text-align: center;
	}
	.header-text-h1 em { 
		font-size: 90px;
		margin-left: 0%;
		word-spacing: -30px;
	}

	.about {
		padding: 100px 0 0 0;
		text-align: center;
		background-image: url(../img/Fon-2\ -\ 2.png)
	}

	.about-info img {

	}

	.about-text-h2  {
		font-size: 120px;
		
	}
	.about-text-h3 {
		font-size: 28px;

	}
	.about-text p {
		font-size: 20px;
		
	}

	.about-text-p {
		/* display: grid;
		grid-template-columns: repeat(2 ,1fr); */
	}
	
	.mom-2 {
		display: block;
		bottom: 0;
		right: 50%px;
		float: right;
	}
	.mom-1 {
		display: none;
	}
	
	/* Products */

	.products {
		background-color: var(--color-bg-white);
		padding: 40px 0;
	}

	.products-title {
		font-size: 80px;
	}
	.products-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		column-gap: 60px;
	}
	.products-list {
		font-size: 26px;
		padding-top: 60px;
	}
	
	.products-list ul {
		
	}
	
	.pot{
		display: none;
	}
	.products-list li {
		font-size: 25px;
		list-style-type: disc;
		color: var(--text-gray);
	}

	/* Place */

	.place-title {
		font-size: 80px;
		font-family:'Antarctic';
		text-align: center;
		color: var(--text-gray);
		padding-bottom: 100px;
	}
	.Place-flex {
		display: flex;
		flex-direction: column;
		row-gap: 60px;
	}

	.map{
		max-width: 330px; 
		height: 330px;
		padding: 10px;
	}
	.place-text {
		text-align: center;
		align-items: center;
	
	}
	.place-adress {
		text-align: center;
		max-width: 500px;
		font-size: 22px;
		padding-bottom: 60px;
	}
	.place-adress h3{
		font-size: 26px;
		color: var(--text-blue);
	}
	.place-time {
		text-align: center;
		max-width: 500px;
		font-size: 22px;
		padding-top: 15px;
	}
	.place-time h3 {
		font-size: 26px;
		color: var(--text-blue);
		
	}

	.footer-info h2 {
		font-family:'Antarctic';
		font-size: 80px;
		padding-bottom: 50px;
		color: var(--text-white);
	}
	.footer-contacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 50px;
	}

	.footer-contacts img {
		width: 28%;
	}
	.footer-contacts p {
		color: var(--text-white);
		opacity: 0.8;
		font-size: 20px;
		padding: 10px 0;
	}
	
	.footer-contacts a {
		color: var(--text-white);
		font-size: 20px;
	}
}